.video-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 52px 150px 117px 159px;
    background: #FFFFFF;

}

.video-block .video-image {
    width: 44%;
    height: 442px;
    background-image: url("../../images/video.png");
    background-size: cover;
    border-radius: 5px;

}
.our-team{
    width: 56%;
    margin-left: 106px;
}
.our-team .title {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 52px;

    color: #4A4A4A;
    position: relative;
}

.our-team .line {

    width: 120px;
    height: 9px;
    background: #2B4074;
    margin-top: 35px;
}

.our-team .sub-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 25px;
    color: #9B9B9B;
    margin-top: 41px;
    margin-right: 125px;
}

.our-team button {
    width: 244px;
    height: 64px;
    background: #2B4074;
    border-radius: 3px;
    margin-top: 40px;
}

.our-team button p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;

    color: #F9F6E5;
}